.dark-background {
    background-color: #121212; 
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dark-header {
    background-color: #121212;
    color: #fff;
}

.dark-text {
    color: #fff; 
}

.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-button[color="dark"] {
    --background: #000; 
    --color: #ffffff; 
}
