<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>menu</ion-title>
    <ion-button (click)="logout()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row *ngIf="user"><ion-card>
      <ion-img [src]="user?.photo"></ion-img>
      <ion-card-content>
        <ion-card-title>Bienvenido, {{ user.nombreCompleto }}</ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-row>

  <ion-card *ngFor="let m of menuArray" [routerLink]="m.url">
    <ion-icon [name]="m.icono "></ion-icon>
    <h2>{{m.nombre}}</h2>
  </ion-card>

  <ion-button (click)="play()">Play</ion-button>
  <ion-button (click)="pause()">Pause</ion-button>
  <ion-button (click)="stop()">Stop</ion-button>



</ion-content>